{% extends 'base.html' %}
{% block navbar %}{% endblock navbar %}

{% block title %}Registrate{% endblock title %}

{% block body %}
<div class="container text-center center mx-auto ">
    <div class="container mx-auto px-5">
        <h1 class="my-5 text-uppercase">Crea una cuenta</h1>
        <form action="#" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <div class="my-3">
                <button class="btn" type="submit" style="background-color: #457B9D; color: white;">Registrarse</button>
            </div>
        </form>
        {% if form.errors %}
        <p>Por favor, intenta de nuevo</p>
        {% endif %}
    <p class="text-center">Ya estas registrado? Solo <a href="{% url 'accounts:login' %}" class="link link-danger mx-auto px-auto" style="color:black; text-align:center; font-size:125%;"> 
        <span class="text-center">Ingresa</span> </a></p>
    </div>
</div>

{% endblock body %}