<style>
  .hover-effect:hover {
    opacity: 0.5;
    transition-duration: 0.5s;
  }
</style>

<nav class=" mb-4 navbar navbar-dark navbar-expand-lg bg-dark">
    <a class="navbar-brand fw-bolder hover-effect" href="{% url 'habits:home' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse py-2" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
        <li class="nav-item">
          <a
            class="nav-link active hover-effect"
            aria-current="page"
            href="{% url 'habits:create' %}"
            >Crear Habito 🔥</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active hover-effect"
            aria-current="page"
            href="{% url 'habits:pomodoro' %}"
            >Pomodoro 🍅</a
          >
        </li>
      </ul>
      <div class="md">
        {% if user.is_authenticated %}
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" 
            type="button" id="dropdownMenuButton" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false">

              Hola {{user.username}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 4px">
              <a class="dropdown-item" href="{%url 'accounts:logout' %}" >Salir</a>
            </div>
          </div>

        {% else %}
        <a class="btn btn-danger" href="{% url 'accounts:login' %}">Entra</a>
        {% endif %}
      </div>
    </div>

  <style type="text/css">
    .navbar {
      background: rgb(80,111,120);
      background: linear-gradient(180deg, rgba(80,111,120,1) 85%, rgba(159,219,236,1) 100%);
    }
  </style>
</nav>
