{% extends 'base.html' %}

{% block title %}Pomodoro{% endblock title %}

{% block custom %}
<style>
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: solid 1px #b7afaf00;
}

.pomodoro-container{
    display: flex;
    padding: 10px;
    width: 90%;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 30px;
    background: #f2ebd5;
    box-shadow: rgb(0, 0, 0) 0px 8px 24px;
}

.row-container{
    display: flex;
    align-items: center;
    min-height: 50px;
}

.clock-container{
    padding-top: 20px;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.clock-container img{
    width: 100px;
}

#clock{
    text-align: center;
    font-size: 4em;
    color: #000000;
    padding: 25px
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    text-align: center;
}

label{
    text-transform: uppercase;
    font-weight: 600;
    color: #000000;
}

input{
    padding: 5px;
    width: 80px;
    font-size: 20px;
    text-align: center;
    border: 2px solid white;
    border-radius: 6px;
    background-color: white;
}

.start-container{
    justify-content: center;
}

#start-button{
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 12px 14px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid #9ae2ad;
    border-radius: 6px;
    background: #9ae2ad;
    outline: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 4px;
}

#start-button:hover{
    background-color: #fff;
    font-weight: 600;
    color: #9ae2ad;
}

.settings-container{
    justify-content: space-around;
    padding-bottom: 20px;
}
@media screen and (max-width: 500px){
    .row-container{
        display: flex;
        flex-direction: column;
    }

    .clock-container{
        align-items: center;
    }
}
}
</style>
{% endblock custom %}

{% block scripts %}
<script>

window.onload = () => {
    /* Pomodoro */
    let workTime;
    let breakTime;
    let restTime;
    let timesCompleted; /* Tiempos completados */
    let cyclesGoal;
    let cyclesCompleted = 0;
    let isStarted = false;
    let timeout;

    /* Timer */
    let currentTime = 1; /* Minutos seteados */
    let seconds = 0;

    function timer(){
        if(currentTime > 0 || seconds > 0){
            if(seconds == 0){
                seconds = 59;
                currentTime--;
            } else{
                seconds--;
            }
            updateClock();
            console.log(currentTime, seconds);
            timeout = setTimeout(timer, 1000);
        } else{
            pomodoroController();
        }
    }

    
    function pomodoroController(){
        if(isRestTime()){
            cyclesCompleted++;
            if(!goalReached()){
                currentTime = restTime;
                timer();
                timesCompleted = 0;
            } else{
                console.log("Pomodoro Finished!");
            }

            return;
        }
        if(timesCompleted % 2 == 0){
            currentTime = workTime;
            timesCompleted++;
            timer();
            console.log("Time to Work! TC:" + timesCompleted);
        } else{
            currentTime = breakTime;
            timesCompleted++;
            timer();
            console.log("Time to break! TC:" + timesCompleted);
        }
    }

    function isRestTime(){
        return timesCompleted == 7;
    }

    function goalReached(){
        return cyclesGoal == cyclesGoal;
    }



    /* Frontend Connection */
    let clock = document.getElementById("clock");
    let cyclesInput = document.getElementById("cycles-input");
    let startButton = document.getElementById("start-button");
    let workTimeInput = document.getElementById("work-time");
    let breakTimeInput = document.getElementById("break-time");
    let restTimeInput = document.getElementById("rest-time");


    
    /* Button funtionality */
    startButton.onclick = () => {
        isStarted = !isStarted;
        startButton.innerHTML = isStarted?"Reiniciar":"Comenzar"
        if(isStarted){
        populateVariables();
        startPomodoro();
        }
        else{
            clock.innerHTML = "25:00"
            clearTimeout(timeout)
             currentTime = 1; /* Minutos seteados */
     seconds = 0
        }
    }

    function startPomodoro() {
        console.log("started pomodoro");
        pomodoroController();
    }

    function populateVariables(){
        console.log("populate variables");
        workTime = workTimeInput.value;   /* Minutos */
        breakTime = breakTimeInput.value;   /* Minutos */
        restTime = restTimeInput.value;    /* Minutos */
        cyclesGoal = cyclesInput.value;    
        timesCompleted = 0;
    }



    /* Clock */
    let clockMinutes;
    let clockSeconds;

    function updateClock() {
        clockMinutes = formatNumbers(currentTime);
        clockSeconds = formatNumbers(seconds);
        clock.innerHTML = clockMinutes + ":" + clockSeconds;
    }

    function formatNumbers(time){
        let formattedDigits;
        if(time < 10){
            formattedDigits = "0" + time;
        } else{
            formattedDigits = time;
        }

        return formattedDigits;
    }

};
</script>
{% endblock scripts %}

{% block body %}
<div class="d-flex justify-content-center flex-nowrap">
    <div class="pomodoro-container">
        <div class="row-container clock-container">
            <img src="https://media.istockphoto.com/id/184276818/photo/red-apple.jpg?s=612x612&w=0&k=20&c=NvO-bLsG0DJ_7Ii8SSVoKLurzjmV0Qi4eGfn6nW3l5w=">
            <h2 id="clock">25:00</h2>
            <div class="input-container">
                <label for="cycles-input">Ciclos de Pomodoro</label>
                <input id="cycles-input" type="number" value="1"/>
            </div>
        </div>
        <div class="row-container start-container">
            <button id="start-button">Comenzar</button>
        </div>
        <div class="row-container settings-container">
            <div class="input-container">
                <label for="work-time">Tiempo de trabajo</label>
                <input id="work-time" type="text" value="25">
                min
            </div>
            <div class="input-container">
                <label for="break-time">Tiempo de descanso</label>
                <input id="break-time" type="text" value="5">
                min
            </div>
            <div class="input-container">
                <label for="rest-time">Descanso largo</label>
                <input id="rest-time" type="text" value="15"> min
            </div>
        </div>
    </div>
</div>
{% endblock body %}
